
//@theme "/home/sabr/.config/rofi/themes/spotlight-dark.rasi"

//@theme "/home/sabr/.config/rofi/themes/KooL_style-2-Dark.rasi"

//@theme "/home/sabr/.config/rofi/themes/rounded-blue-dark.rasi"

//@theme "/home/sabr/.config/rofi/themes/KooL_style-11-Win11-list-dark.rasi"

//@theme "/home/sabr/.config/rofi/themes/KooL_style-3-FullScreen-v1.rasi"

//@theme "/usr/share/rofi/themes/gruvbox-dark-soft.rasi"

//@theme "/home/sabr/.config/rofi/themes/KooL_style-9.rasi"

//@theme "/home/sabr/.config/rofi/themes/spotlight.rasi"

//@theme "/home/sabr/.config/rofi/themes/KooL_style-6.rasi"

//@theme "/home/sabr/.config/rofi/themes/KooL_style-9.rasi"

//@theme "/usr/share/rofi/themes/fullscreen-preview.rasi"

//@theme "/usr/share/rofi/themes/DarkBlue.rasi"

//@theme "/home/sabr/.config/rofi/themes/KooL_style-15-solarized.rasi"

//@theme "/usr/share/rofi/themes/Monokai.rasi"

//@theme "/home/sabr/.config/rofi/themes/KooL_style-2-Dark.rasi"

//@theme "/usr/share/rofi/themes/Monokai.rasi"

@theme "/home/sabr/.config/rofi/themes/KooL_style-6.rasi"
